//321 - 480
//@screen-ss: 321px;
//ss - small small
//
// Variable here are available for all files for the given screen size
@nav-bgr: #25383B;

@nav-buttons-padding-v: 6px;
@nav-buttons-padding-h: 6px;

@ss-font-size: 14px;
@ss-page-padding-left-right: 10px;
@ss-elem-padding-vertical: @ss-font-size/3;
@ss-elem-margin-vertical: 8px;

// search-box
@search-box-padding-v: 10px;
@search-box-padding-h: 10px;

// promotion
@ss-promotion-padding-top: 0px;
@ss-promotion-border-bottom: none;
@ss-promotion-elem-border: solid 1px #e6e6e6;
@ss-promotion-elem-padding: 0px 10px;
//@ss-promotion-big-elem-padding: 6em 0em 6em 0em;
@ss-promotion-big-elem-padding: 40px;

body {
	font-size: @ss-font-size;
}

h1 {
	font-size: 2.5*@ss-font-size;
}

p {
	font-size: @ss-font-size + 2;
}

.padding-left-right {
	padding-left: @ss-page-padding-left-right;
	padding-right: @ss-page-padding-left-right;
}

.form-control {
	font-size: @ss-font-size;
//	height: floor((@ss-font-size*1.1) + (2*@ss-elem-padding-vertical) + 4); // 1.1 is line height
	height: auto;
	padding: @ss-elem-padding-vertical 12px;
}

.btn {
	font-size: @ss-font-size;
	padding-top: @ss-elem-padding-vertical;
	padding-bottom: @ss-elem-padding-vertical;
}

.promotion-big {
	border-top: @ss-promotion-elem-border;
//	border-bottom: @ss-promotion-elem-border;
//	padding: @ss-promotion-big-elem-padding;
}

.margin-vertical-big {
	margin-top: 36px;
	margin-bottom: 36px;
}

.datepicker {
	min-width: (@screen-ss - (2*@ss-page-padding-left-right) - (2*@search-box-padding-h) - 20 ); // 10 is 2*padding 4 + 2*border1
}


@import "../header/1_com";
@import "../search-box/1_com";
@import "../main_nav/1_com";
@import "../langsw/1_com";
@import "../slogan/1_com";
@import "../latest_rides/1_com";
@import "../tables/1_com";
@import "../promotion/1_com";
@import "../footer/1_com";