/*
 @screen-xs: 481px   xs - extra small   481  - 767
*/

@page-padding-left-right: 0px;

body {
	font-size: 1.4em;
}

.padding-left-right {
	padding-left: @page-padding-left-right;
	padding-right: @page-padding-left-right;
}

@ss-promotion-padding-top: 10px;
@ss-promotion-border-bottom: solid 1px #e6e6e6;
@ss-promotion-elem-border: none;

@import "../slogan/6_lg";
@import "../search-box/6_lg";
@import "../promotion/6_lg";