.padding-left-right {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 1200px) {
  .padding-left-right {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 320px) {
  .text-big {
    font-size: 2.8em;
  }
  .text-big-slogan {
    font-size: 1.6em;
  }
  .wellcome {
    float: left;
  }
  .wellcome ul {
    float: left;
  }
  .wellcome li {
    float: left;
  }
}
@media (min-width: 321px) {
  .text-big {
    font-size: 2.8em;
  }
  .text-big-slogan {
    font-size: 1.6em;
  }
}
@media (min-width: 481px) {
  .text-big {
    font-size: 2.8em;
    color: #ffff00;
  }
  .text-big-slogan {
    font-size: 1.6em;
    color: #ffff00;
  }
  .mynavbar2 {
    float: left;
    margin-top: -10px;
    margin-left: -1.3em;
    margin-bottom: 5px;
    padding-top: 0px;
    clear: none;
  }
}
@media (min-width: 768px) {
  .text-big {
    font-size: 3.8em;
    color: orangered;
  }
  .text-big-slogan {
    font-size: 2em;
    color: orangered;
  }
}
@media (min-width: 992px) {
  .mynavbar2 {
    float: left;
    margin-top: 13px;
    clear: none;
  }
  .text-big {
    font-size: 4.2em;
    color: green;
  }
  .text-big-slogan {
    font-size: 2.2em;
    color: green;
  }
}
@media (max-width: 1370px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .text-big {
    font-size: 5em;
    color: red;
  }
  .text-big-slogan {
    font-size: 2.5em;
    color: red;
  }
}
