/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

a img {
	border: none;
}

#container,
#header,
#sidebar,
#content,
#footer,
#container
{
	display: block;
	width: 10px;
}

body {
	padding: 0px;
}

.container-fluid {
	padding: 0px;
	background-color: #eea236;
}

#header {
	/*background-color: #F00;*/
	width: 100%;
	height: 400px;
	background-image: url('../img/header_backgroud.jpg');
	/*background-size:100% 100%;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#content {
	background-color: #555;
	height: 100px;
}

#sidebar {
	background-color: #eeeeee;
}

#footer {
	width: 100%;
	background-color: #666;
}

#search-box {
	background-color: #000000;
	border: solid 1px #000000;
	height: 60px;
	margin-top: 200px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.8;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
