/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	/*background-color: #F9F9F9;*/
}

strong {
	font-weight: 400;
}

label {
	font-weight: 300;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 36px;
	height: 36px;
	background-color: #EB635E;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
	cursor: pointer;
	background-image: url("../img/scroll_up.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.scroll-top-icon {
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	line-height: 20px;
	display: block;
	padding: 6px 8px 10px 8px;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

a img {
	border: none;
}

#container,
#header,
#sidebar,
#content,
#footer,
#container
{
	/*display: block;*/
}

body {
	padding: 0;
	margin: 0;
}

.container-fluid {
	padding: 0px;
	margin: 0px;
	/*background-color: #eea236;*/
}

.row {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	font-style: normal;
}

#header {
	/*background-color: #F00;*/
	/*width: 100%;*/
	min-height: 520px;
	background-image: url('../img/header_backgroud.jpg');
	/*background-size:100% 100%;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	/*border-bottom: solid 1px #000;*/
	/*-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,1);*/
	/*box-shadow: 0 0 5px 0 rgba(0,0,0,1);*/
	z-index: 100;
	border-bottom: solid 8px #ECECEC;
	/*position: relative;*/
}

#header2 {
	/*background-color: #F00;*/
	width: 100%;
	/*height: 80px;*/
	/*background-image: url('../img/header_backgroud.jpg');*/
	/*background-size:100% 100%;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-position: 50% 50%;*/
	/*border-bottom: solid 1px #000;*/
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

#content {
	/*background-color: #eea236;*/
	min-height: 100px;
}

#sidebar {
	background-color: #eeeeee;
	min-height: 100px;
}

#footer {
	background-color: #eeeeee;
	background-image: url('../img/happy_footer.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	padding: 10px;
	/*-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);*/
	/*box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);*/
	/*position: absolute;*/
	/*bottom: 0%;*/
	height: 300px;
	/*border-top: solid 10px #F5F5F5;*/
	position: relative;
	top: 0px;
}

#infos {
	height: 100px;
	background-color: #eeeeee;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

#search-box {
	border: solid 1px #222;
	/*height: 80px;*/
	margin-top: 6em;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	/*-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.8);*/
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);

	/*-webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.8);*/
	/*box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.8);*/

	/*opacity: 0.8;*/
	 /*margin-left: auto;*/
	 /*margin-right: auto;*/
}

.text-big {
	color: #ffffff;
	font-weight: 100;
	text-align: center;
	/*text-shadow: 0 1px 1px #BDBDBD;*/
}

.text-big-slogan {
	color: #ffffff;
	font-weight: 100;
	text-align: center;
}

/*@media (max-width: 768px) {*/
	/*.text-big {*/
		/*font-size: 3em;*/
	/*}*/
	/*.text-big-slogan {*/
		/*font-size: 2em;*/
	/*}*/
/*}*/

/*@media (min-width: 768px) {*/
	/*.text-big {*/
		/*font-size: 3.5em;*/
		/*color: orangered;*/
	/*}*/
	/*.text-big-slogan {*/
		/*font-size: 2.5em;*/
		/*color: orangered;*/
	/*}*/
/*}*/

/*@media (min-width: 992px) {*/
	/*.text-big {*/
		/*font-size: 4em;*/
		/*color: green;*/
	/*}*/

	/*.text-big-slogan {*/
		/*font-size: 2em;*/
		/*color: green;*/
	/*}*/
/*}*/

/*@media (min-width: 1200px) {*/
	/*.text-big {*/
		/*font-size: 5em;*/
		/*color: red;*/
	/*}*/

	/*.text-big-slogan {*/
		/*font-size: 2.4em;*/
		/*color: red;*/
	/*}*/
/*}*/


.main-nav {
	/*height: 60px;*/
	/*margin-left: -15px;*/
	/*margin-right: -15px;*/
	text-align: center;
	background-color: #25383B;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

/*.main-nav li a, .main-nav li a:visited {*/
	/*text-decoration: none;*/
	/*color: #eeeeee;*/
/*}*/

/*.main-nav li a:hover, .main-nav li a:active {*/
	/*text-decoration: none;*/
	/*color: #E37C78;*/
	/*border-bottom: dotted 1px #E37C78;*/
/*}*/

.main-nav2 {
	/*height: 80px;*/
	margin-left: -15px;
	margin-right: -15px;
	/*background-color: rgba(0,0,0,0.7);*/
	background-color: #25383B;
	/*border-bottom: solid 1px #000;*/

	/*background-image: url('../img/backgroud_top.gif');*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0% 100%;*/
}

.mynavbar {
	list-style: none;
	color: #eeeeee;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	float: right;
	clear: both;
	display: inline-block;
	margin: 8px 0px 0px 0px;
	padding: 0;
}

/*.mynavbar ul {*/
	/*margin: 20px 0px 0px 0px;*/
	/*padding: 0;*/
/*}*/

/*.mynavbar li {*/
	/*float: left;*/
	/*display: block;*/
	/*margin-left: 20px;*/
/*}*/

.mynavbar3 {
	position: relative;
	top: 0;
	left: 0;
	list-style: none;
	color: #cccccc;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	font-style: normal;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.mynavbar3 li {
	float: left;
	display: block;
	padding: 2px 3px;
}

.mynavbar3 li a, .mynavbar3 li a:visited {
	text-decoration: none;
	color: #cccccc;
}

.mynavbar3 li a:hover, .mynavbar3 li a:active {
	text-decoration: none;
	color: #E37C78;
	border-bottom: dotted 1px #E37C78;
}

.login-register {
	/*color: #000000;*/
	color: #ffffff;
	font-weight: 400;
	/*text-shadow: 0 1px 0 #F7A2A1;*/
	padding:  3px 8px 3px 8px;
	background-color: #D9534F;
	/*background-color: #D95342;*/
	border-radius: 5px;
	font-size: 14px;
	border: solid 1px #F26F6D;
	/*border-bottom: solid 1px #E76563;*/
	/*background-image: url('../img/backgroun-btn1.png');*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0px 0px;*/
}

.location-input {
	width: 250px;
	/*display: inline-block;*/
	/*opacity: 1;*/
	/*padding: 0px 40px;*/
}


/* Text controlls */



.text-big2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 25px;
	text-align: left;
	/*text-align: center;*/
	/*color: #000000;*/
	font-style: normal;
	/*margin-top: 1em;*/
	/*margin-bottom: 0em;*/
	/*text-shadow: 0 1px 1px #BDBDBD;*/
	margin: 0;
	padding: 16px 16px;
}

.text-big3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 40px;
	text-align: left;
	/*font-style: normal;*/
	margin: 0;
	padding: 36px 16px;
}


.text-regular {
}

dl.text-regular {
	padding-left: 20px;
	margin: 0;
}

.text-regular dt {
	padding-left: 24px;
	padding-right: 24px;
	margin-top: 10px;
	margin-bottom: 2px;

	color: #000000;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;

	background-image: url("../img/arrow_menu2.gif");
	background-position: 0px 4px;
	background-repeat: no-repeat;

	/*border: solid 1px #cccccc;*/
	/*display: inline-block;*/
}

.text-regular dt:hover {
	color: #d92646;
}

.text-regular dd {
	padding-left: 24px;
	padding-right: 24px;

	font-size: 15px;
	margin: 0;
	text-align: justify;
	/*border-right: 2px solid lightcoral;*/
	/*border-left: 2px solid lightcoral;*/
	/*border-radius: 4px;*/
	/*margin-left: 10%;*/
}

.text-regular dt.collapsed {
	color: #d92646;
}



.text-footer {
	font-family: 'Roboto', sans-serif;
	/*color: #eeeeee;*/
	font-weight: 300;
	text-align: center;
}

#picker_icon1, #picker_icon2 {
	position: absolute;
	padding-top: 47px;
	padding-left: 8px;
	pointer-events: none;
	width: 20px;
	display: inline-block;
	font-size: 16px;
	color: #555;
}

.my-text-shadow {
	text-shadow: 1px 1px 1px #878787;
}

.my-text-shadow2 {
	text-shadow: 0px 1px 0px #ccc;
}

#refine_search {
	cursor: pointer;
}

.list-sorter {
	height: 18px;
	width: 16px;
	float: right !important;
	/*background: url('../img/sort.png') no-repeat;*/
	background: url('../img/sort.gif') no-repeat;
	opacity: 0.6;
}


.menu-left-active {
	color: #d92646;
	font-weight: 300;
}

.font-12 {
	font-size: 13px;
}


table.table {
	/*border-left: 1px solid #E4E4E4;*/
	/*border-right: 1px solid #E4E4E4;*/
	/*margin-top: 36px;*/
	/*margin-bottom: 36px;*/
	border-collapse: separate;

	/*padding: 10px 0px 0px 0px;*/
	/*border-radius: 100px;*/
}

tbody {
	padding: 100px;
}

.table-header {
	background-color: #D9534F;
	/*background-color: #EB635E;*/
	color: #fff;
	border-top: 1px solid #ca4433;
	border-left: 1px solid #ca4433;
	border-right: 1px solid #ca4433;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

table.table tbody tr.font-12 th {
	font-size: 15px;
	color: #ffffff;
	font-weight: 400;
	/*background-color: #EB635E;*/
	background-color: #D9534F;
	/*border: solid 1px #CA4433;*/

	border-left: solid 1px #CA4433;
	/*border-left: solid 1px #EB635E;*/

	border-top: solid 1px #CA4433;
	/*border-top: solid 1px #EB635E;*/

	border-bottom: solid 1px #AD2A26;
	/*border-bottom: solid 1px #EB635E;*/

	padding: 6px 6px 6px 6px ;
}

table.table tbody tr.font-12 th:last-child {
	border-right: solid 1px #CA4433;
	padding-right: 18px;
}

table.table tbody tr.font-12 th:first-child {
	padding-left: 18px;
}

table.table tbody tr td:last-child {
	padding-right: 18px;
	border-right: solid 1px #dddddd;
}

table.table tbody tr td:first-child {
	padding-left: 18px;
	border-left: solid 1px #dddddd;
}

.table-home > tbody> tr > td {
	color: #000000;
}

table.table-details > tbody > tr > td {
	background-color: #ffffff;
	/*font-family: Tahoma, Geneva, Arial, sans-serif;*/
	padding: 6px 6px;
}

table.table-details tbody tr td:last-child {
	border-right: none;
}

table.table-details tbody tr td:first-child {
	padding-left: 40px;
	border-left: none;
}

table.table-details tfoot.table-footer td, table.table-details tfoot.table-footer tr {
	border: none;
	/*border-top: 1px solid #E4E4E4;*/
	border-top: 1px solid #dddddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	/*border-radius: 100px;*/
}

/*.table>tbody> tr > td.action-buttons {*/
	/*padding: 8px 4px 8px 0px;*/
/*}*/

.table-my {
	margin-top: 36px;
}

.table-my > tbody > tr > td .glyphicon {
	 color: #ffffff;
	 /*background-color: #F57873;*/
	 background-color: #666;
	 /*border: solid 1px #dddddd;*/
	 /*background-color: #307f83;*/
	 border-radius: 2px;
	 padding: 4px;
}

.table-home > tbody > tr > td, .table-home > tbody > tr > th {
	background-color: #F7F5F5;
	border: none;
	padding: 14px 4px;
}

.table-home {
	border-bottom: none;
}

table.table-home tbody tr td:first-child, table.table-home tbody tr td:last-child {
	border: none;
	/*border-spacing: 10px;*/
	/*border-collapse: separate;*/
	/*border-collapse: collapse;*/
}

.table-home > tbody > tr > td .glyphicon {
	padding: 0px 10px;
	font-size: 18px;
	color: #999999;
}

table.active-deal {
	/*cursor: pointer;*/
}

.table>tbody+tbody {
	border: none;
}

table tfoot.table-footer {
	background-color: #F5F5F5;
	/*background-color: #eeeeee;*/
}

table tfoot.table-footer td, table tfoot.table-footer tr {
	background-color: #F5F5F5;
	/*background-color: #eeeeee;*/
	/*border: 1px solid #E4E4E4;*/
	border: 1px solid #cccccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	/*border-radius: 100px;*/
}

.table-footer-text {
	font-size: 14px;
	padding: 14px 16px;
	display: block;
	margin: 0;
}

ul.pagination li {
	margin-left: 0px;
	display: inline-block;
}

.pagination {
	margin: 10px 0;
}

label.control-label {
	font-weight: 400;
}

label.radio-inline, .checkbox label {
	font-weight: 300;
}


label.radio-inline {
	padding: 10px 20px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-left-right {
	padding-left: 0px;
	padding-right: 0px;
}

/*.padding-left-right {*/
	/*padding-left: 5%;*/
	/*padding-right: 5%;*/
/*}*/


.paypal-image {
	background-image: url('../img/paypal_options.png');
	height: 9em;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 50%;
}

table input[type=checkbox] {
	width: 15px;
	height: 15px;
	/*border: 1px solid #1e5180;*/
	outline: none;
	background-color: red;
	color: red;
}

.form-wrapper-box {
	margin-top: 36px;
	border: solid 1px #dddddd;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12);
	border-radius: 5px;
	padding: 0px;
}

.form-wrapper-box2 {
	margin-top: 36px;
	border: solid 1px #dddddd;
	border-bottom: solid 1px #cccccc;
	/*-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.08);*/
	/*box-shadow: 0 1px 5px 0 rgba(0,0,0,0.08);*/
	border-radius: 3px;
	padding: 0px;
}

.leftmenu {
	font-size: 14px;
	margin-top: 36px;
	padding-top: 0px;
	padding-bottom: 10px;
	/*background-color: #25383B;*/
	/*background-color: #eeeeee;*/
	background-color: #F5F5F5;
	border-radius: 2px;
	margin-right: 10px;
	/*-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);*/
	/*box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);*/
	/*border-bottom: none;*/
	border: solid 1px #dddddd;
	/*border-bottom: solid 1px #cccccc;*/
	/*min-width: 200px;*/
}

.leftmenu h2 {
	color: #000000;
	font-weight: 100;
	font-size: 25px;
	padding: 25px 25px 25px 25px;
	/*text-shadow: 0px 1px 0 #ddd;*/
	margin-top: 0px;
	margin-bottom: 4px;
	background-color: white;
	/*border-bottom: #EB635E solid 2px;*/
	border-bottom: #F57873 solid 3px;
	/*border-bottom: #999 solid 2px;*/
	/*float: left;*/
	/*background-image: url("../img/faq.gif");*/
	/*background-repeat: no-repeat;*/
	/*background-position: 95% 50%;*/
}

.leftmenu ul {
	padding-left: 25px;
	padding-right: 25px;
	/*clear: both;*/
}

.leftmenu li {
	background-image: url("../img/backgroud_link2.gif");
	/*background-image: url("../img/arrow_menu3.gif");*/
	background-repeat: repeat-x;
	/*background-position: 95% 50%;*/
	background-position: 0% 100%;
}

.leftmenu li:last-child {
	background-image: none;
}

.leftmenu li a, .leftmenu li a:visited {
	/*background-image: url("../img/arrow_menu2.gif");*/
	background-image: url("../img/faq.gif");
	background-repeat: no-repeat;
	/*background-position: 95% 50%;*/
	background-position: 0% 48%;
	/*color: #A7B1C2;*/
	/*color: #ABB8BA;*/
	color: #777777;
	display: block;
	/*padding: 4px 0px 4px 0px;*/
	padding: 10px 0px 10px 25px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 1px 0 white;
}

.leftmenu li a:hover, .leftmenu li a:active {
	color: #d92646;
	text-decoration: none;
	/*border-bottom: solid 1px #E2E3E3;*/
}

table.table tr td div.cost-text {
	/*font-size: 16px;*/
	/*font-weight: 400;*/
	/*background-color: #307f83;*/
	background-color: lightcoral;
	color: #ffffff;
	/*border: solid 1px #cccccc;*/
	border-radius: 2px;
	padding: 2px 0px;
	/*padding: 10% 10%;*/
	text-align: center;
}

table.table tr td div.cost-text2 {
	/*font-size: 16px;*/
	/*font-weight: 400;*/
	/*background-color: #307f83;*/
	background-color: #DE353D;
	color: #ffffff;
	/*border: solid 1px #cccccc;*/
	border-radius: 2px;
	padding: 2px 0px;
	/*padding: 10% 10%;*/
	text-align: center;
}

.rider-username {
	color: #000000;
	font-weight: 400;
}

.rider-rating-stars {
	/*font-weight: 400;*/
	color: #EEA236;
	margin-top: -5px;
	font-size: 18px;
	font-family: Tahoma, Geneva, Arial, sans-serif;
}

.back-button {
	background-image: url("../img/left.gif");
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding: 20px 20px 20px 26px;
}

.back-button2 {
	background-image: url("../img/left.gif");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	padding-left: 30px;
}

.back-button3 {
	background-image: url("../img/down.gif");
	background-repeat: no-repeat;
	background-position: 95% 50%;
	padding-right: 30px;
}

.location-ul {
	margin-top: 2px;
	border: solid 1px #dddddd;
	border-bottom: none;
	border-radius: 3px;
}

.location-ul li{
	border-bottom: solid 1px #dddddd;
	padding: 6px 10px;
}

.location-ul li:hover {
	cursor: pointer;
	background-color: #f5f5f5;
}

.additional-buttons {
	background-image: url("../img/plus.gif");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

#additional-details, #multiple-request {
	cursor: pointer;
	border-top: solid 1px #dddddd;
	/*border-bottom: solid 1px #dddddd;*/
	padding: 0px 55px;
	background-color: #F5F5F5;
	margin: 0
}

.form-control {
	border-radius: 2px;
}

.input-group-addon {
	border-radius: 2px;
}

/*.ll {*/
	/*display: none;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
/*}*/



/*.mynavbar2 {*/
	/*list-style: none;*/
	/*color: #eeeeee;*/
	/*font-size: 1.15em;*/
	/*font-style: normal;*/
	/*font-weight: 300;*/
	/*padding: 5px 0px 0px 0px;*/
	/*margin-left: 1em;*/
	/*float: right;*/
	/*margin-top: 0px;*/
	/*clear: right;*/

	/*padding-bottom: 3px;*/
/*}*/

/*.mynavbar2 ul {*/
	/*float: right;*/
	/*margin: 0;*/
	/*padding: 0;*/
/*}*/

/*.mynavbar2 li {*/
	/*float: left;*/
	/*display: block;*/
	/*margin-left: 1.3em;*/

	/*margin-top: 3px;*/
	/*border-radius: 3px;*/
	/*float: right;*/
	/*border-bottom: solid 1px #555;*/
	/*background-color: rgba(0, 0, 0, 0.3);*/
/*}*/

/*.mynavbar2 li a, .mynavbar2 li a:visited {*/
	/*text-decoration: none;*/
	/*color: #eeeeee;*/

	/*display: block;*/
	/*padding-top: 6px;*/
	/*padding-bottom: 6px;*/
/*}*/

/*.mynavbar2 li a:hover, .mynavbar2 li a:active {*/
	/*text-decoration: none;*/
	/*color: #E37C78;*/
/*}*/





/*.welcome {*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*padding-top: 3px;*/
/*}*/

/*.welcome ul {*/
	/*float: right;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*border-bottom: solid 6px #666;*/
/*}*/

/*.welcome li {*/
	/*float: right;*/
	/*color: #cccccc;*/
	/*font-weight: 300;*/
	/*font-size: 1.15em;*/

	/*background-color: rgba(0, 0, 0, 0.3);*/
	/*margin-left: 3px;*/
	/*margin-right: 3px;*/
	/*border-radius: 3px;*/
	/*padding-left: 0.4em;*/
	/*border-top: solid 1px #666;*/
	/*border-bottom: solid 1px #555;*/
/*}*/

/*.welcome li:first-child {*/
	/*float: right;*/
	/*padding-top: 0px;*/
	/*padding-bottom: 0px;*/
	/*border-bottom: solid 6px #666;*/

	/*background-color: #25383B;*/
/*}*/

/*.welcome li:first-child p{*/
	/*float: right;*/
/*}*/

/*.welcome li a, .welcome li a:visited {*/
	/*color: #cccccc;*/
	/*text-decoration: none;*/

	/*color: white;*/
	/*display: block;*/
	/*padding-top: 6px;*/
	/*padding-bottom: 6px;*/
	/*float: left;*/
/*}*/




/*.welcome li p {*/
	/*float: left;*/
/*}*/



#menu-button {
	float: right;
	margin-top: 19px;
	width: 27px;
	height: 21px;
	display: inline-block;
	cursor: pointer;
	background-image: url('../img/menu.gif');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}




.backgroud-gray {
	background-color: #F7F5F5;
	border-top: solid 1px #e6e6e6;
	border-bottom: solid 1px #e6e6e6;
	padding: 6em 0em 0em 0em;
	/*-webkit-box-shadow:inset 0 0 5px 0px rgba(0,0,0,0.05);*/
	/*box-shadow:inset 0 0 5px 0px rgba(0,0,0,0.05);*/
}

.backgroud-gray-light {
	background-color: #F7F5F5;
	/*border-top: solid 1px #e6e6e6;*/
	border-bottom: solid 1px #e6e6e6;
	/*padding: 1em 0em 1em 0em;*/
	/*-webkit-box-shadow:inset 0 0 5px 0px rgba(0,0,0,0.05);*/
	/*box-shadow:inset 0 0 5px 0px rgba(0,0,0,0.05);*/
}

.backgroud-gray-light h3{
	font-weight: 300;
}


.backgroud-white {
	background-color: #ffffff;
	padding: 6em 0em 6em 0em;
}

.responsive-image {
	background-image: url('../img/responsive.png');
	/*height: 20em;*/
	background-repeat: no-repeat;
	/*background-size: contain;*/
	background-position: 100% 100%;
}

.backgroud-border {
	border-top:	dotted 1px #777;
	font-weight: 300;
	color: #eeeeee;
	padding: 10px 0px;
	margin: 0;
	/*border-radius: 3px;*/
	/*border: dotted 1px #666;*/
	/*background-color: #333333;*/
}

#additional_options label {
	/*margin-top: 2px;*/
}

.checkbox-my label {
	position: relative;
	top: 0;
	left: 0px;
	text-align: center;
	padding: 3px 4px;
	min-width: 36px;
	/*height: 20px;*/
	background-color: #F7F5F5;
	margin: 0px;
	font-weight: 300;
	border-radius: 2px;
	cursor: pointer;
	/*margin-right: 3px;*/
	color: #000000;
	float: left;
	font-size: 14px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	z-index: 500;
	/*display: block;*/
}

.checkbox-my span {
	margin-right: 2px;
	display: inline-block;
}

.checkbox-my input {
	z-index: 10;
	margin-left: -14px;
	display: block;
	opacity: 0;
	float: left;
	/*margin-top: 2px;*/
	cursor: pointer;
}

.radio-driver-rider {
	/*background-color: #F8F8F8;*/
	/*border: solid 1px red;*/
	/*border-radius: 3px;*/
	/*margin: 0;*/
	/*padding: 0;*/
}

.radio-driver-rider div, .radio-smoking div {
	margin-right: 4px;
}

.radio-driver-rider label, .radio-smoking label {
	z-index: 500;
	position: relative;
	top: 0;
	left: 0px;
	text-align: center;
	padding: 3px 4px;
	background-color: #F7F5F5;
	margin: 0px;
	font-weight: 300;
	border-radius: 2px;
	cursor: pointer;
	color: #000000;
	font-size: 14px;
	float: left;
	/*border-right: solid 1px #cccccc;*/
	/*border-left: solid 1px #cccccc;*/

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio-smoking label {
	padding: 3px 10px;
}

.radio-driver-rider input, .radio-smoking input {
	z-index: 10;
	margin-left: -14px;
	display: block;
	opacity: 1;
	float: left;
	cursor: pointer;
}

.search-label {
	float: left;
	margin: 3px 20px 0px 0px;
}

.search-wrapper {
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	/*color: #eee;*/
	/*border-radius: 3px;*/
	/*border: dotted 1px #999;*/
	/*background-color: #333333;*/
}

