/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

a img {
	border: none;
}

#container,
#header,
#sidebar,
#content,
#footer,
#container
{
	/*display: block;*/
}

body {
	padding: 0;
	margin: 0;
}

.container-fluid {
	padding: 0px;
	margin: 0px;
	/*background-color: #eea236;*/
}

.row {
	margin: 0;
}

#header {
	/*background-color: #F00;*/
	/*width: 100%;*/
	height: 520px;
	background-image: url('../img/header_backgroud.jpg');
	/*background-size:100% 100%;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	/*border-bottom: solid 1px #000;*/
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,1);
	box-shadow: 0 0 5px 0 rgba(0,0,0,1);
	z-index: 100;
}

#header2 {
	/*background-color: #F00;*/
	width: 100%;
	height: 80px;
	/*background-image: url('../img/header_backgroud.jpg');*/
	/*background-size:100% 100%;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-position: 50% 50%;*/
	/*border-bottom: solid 1px #000;*/
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

#content {
	/*background-color: #eea236;*/
	min-height: 100px;
}

#sidebar {
	background-color: #eeeeee;
	min-height: 100px;
}

#footer {
	background-color: #eeeeee;
	background-image: url('../img/happy_footer.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	padding: 10px;
	/*-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);*/
	/*box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);*/
	/*position: absolute;*/
	/*bottom: 0%;*/
	height: 300px;
	border-top: solid 1px #cccccc;
}

#infos {
	height: 100px;
	background-color: #eeeeee;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

#search-box {
	border: solid 1px #222;
	/*height: 80px;*/
	margin-top: 6em;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	/*-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.8);*/
	box-shadow: 0 0 3px 0 rgba(0,0,0,1);

	/*-webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.8);*/
	/*box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.8);*/

	/*opacity: 0.8;*/
	 /*margin-left: auto;*/
	 /*margin-right: auto;*/
}

@media (min-width: 768px) {
	.text-big {
		font-size: 2.4em;
	}
}

@media screen and (max-width: 767px) {
	.text-big {
		font-size: 2em;
	}
}

.main-nav {
	height: 80px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;

	background-color: #25383B;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	/*background-color: rgba(37,56,59,0.95);*/

	/*background-color: white;*/
	/*background-image: url("../img/gradient.png");*/
	/*border-bottom: solid 1px #333;*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0% 100%;*/
	/*-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,1);*/
	/*box-shadow: 0 0 5px 0 rgba(0,0,0,1);*/
	/*border-top: solid 1px #C24C4C;*/
}

.main-nav li a, .main-nav li a:visited {
	text-decoration: none;
	color: #eeeeee;
}

.main-nav li a:hover, .main-nav li a:active {
	text-decoration: none;
	color: #E37C78;
	border-bottom: dotted 1px #E37C78;
}

.main-nav2 {
	height: 80px;
	margin-left: -15px;
	margin-right: -15px;
	/*background-color: rgba(0,0,0,0.7);*/
	background-color: #25383B;
	/*border-bottom: solid 1px #000;*/

	/*background-image: url('../img/backgroud_top.gif');*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0% 100%;*/
}

.mynavbar {
	list-style: none;
	color: #eeeeee;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	float: right;
	clear: both;
	display: inline-block;
	margin: 8px 0px 0px 0px;
	padding: 0;
}

.mynavbar ul {
	/*margin: 20px 0px 0px 0px;*/
	/*padding: 0;*/
}

.mynavbar li {
	float: left;
	display: block;
	margin-left: 20px;
}

.mynavbar2 {
	list-style: none;
	color: #eeeeee;
	font-family: 'Roboto', sans-serif;
	font-size: 1.15em;
	font-style: normal;
	font-weight: 300;
	/*float: left;*/
	/*clear: both;*/
	/*display: inline-block;*/
	padding: 18px 0px 0px 0px;
	margin-left: 20px;
	/*height: 60px;*/
}

.mynavbar2 li {
	float: left;
	display: block;
	margin-left: 20px;
}

.mynavbar3 {
	list-style: none;
	color: #cccccc;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	font-style: normal;
	font-weight: 300;
	/*float: left;*/
	/*clear: both;*/
	/*display: inline-block;*/
	/*padding: 40px 0px 0px 0px;*/
	/*margin-right: 274px;*/
	/*margin-top: -65px;*/
	/*clear: both;*/
	/*height: 60px;*/
	margin: 0;
	padding: 0;
	/*margin-left: 20px;*/

}

.mynavbar3 li {
	float: left;
	display: block;
	padding: 2px 3px;
}

.mynavbar3 li p{
	margin: 0;
	padding: 0;
	margin-right: 10px;
	/*margin-left: 20px;*/
}

.mynavbar3 li span{
	color: #ffffff;
	font-weight: 300;
	/*margin-left: 20px;*/
}

.mynavbar3 li a, .mynavbar3 li a:visited {
	text-decoration: none;
	color: #cccccc;
}

.mynavbar3 li a:hover, .mynavbar3 li a:active {
	text-decoration: none;
	color: #E37C78;
	border-bottom: dotted 1px #E37C78;
}

.login-register {
	/*color: #000000;*/
	color: #ffffff;
	font-weight: 400;
	/*text-shadow: 0 1px 0 #F7A2A1;*/
	padding:  3px 8px 3px 8px;
	background-color: #D9534F;
	border-radius: 5px;
	font-size: 14px;
	border: solid 1px #F26F6D;
	/*border-bottom: solid 1px #E76563;*/
	/*background-image: url('../img/backgroun-btn1.png');*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0px 0px;*/
}

.location-input {
	width: 250px;
	/*display: inline-block;*/
	/*opacity: 1;*/
	/*padding: 0px 40px;*/
}


/* Text controlls */

.text-big {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: 100;
	text-align: center;
	/*text-shadow: 0 1px 1px #BDBDBD;*/
}

.text-big2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: left;
	/*text-align: center;*/
	color: #000000;
	font-style: normal;
	margin-top: 1em;
	margin-bottom: 0em;
	/*text-shadow: 0 1px 1px #BDBDBD;*/
}

.text-footer {
	font-family: 'Roboto', sans-serif;
	/*color: #eeeeee;*/
	font-weight: 300;
	text-align: center;
}

td.separator {
	font-size: 20px;
	font-weight: bold;
}

#picker_icon1, #picker_icon2 {
	position: absolute;
	padding-top: 47px;
	padding-left: 8px;
	pointer-events: none;
	width: 20px;
	display: inline-block;
	font-size: 16px;
	color: #555;
}

.my-text-shadow {
	text-shadow: 1px 1px 1px #878787;
}

.my-text-shadow2 {
	text-shadow: 0px 1px 0px #ccc;
}

#refine_search {
	cursor: pointer;
}

.list-sorter {
	height: 18px;
	width: 16px;
	float: right !important;
	background: url('../img/sort.png') no-repeat;
	opacity: 0.6;
}

.leftmenu {
	font-size: 14px;
	margin-top: 35px;
	background-color: #fff;
	/*background-color: #FBFBFB;*/
	/*border: solid 1px #E6E6E6;*/
	/*-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);*/
	/*box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);*/
	/*border-radius: 5px;*/
}

.leftmenu {
	border-bottom: none;
}

.leftmenu li{
	/*border-bottom: solid 1px #E9E9E9;*/
	/*padding: 10px 10px;*/
	background-image: url("../img/arrow_menu.gif");
	background-repeat: no-repeat;
	background-position: 0% 50%;

	margin: 0;
}

.leftmenu li a, .leftmenu li a:visited {
	display: block;
	padding: 5px 5px 5px 20px;
}

.leftmenu li a:hover, .leftmenu li a:active {
	color: #d92646;
	text-decoration: none;
}

.menu-left-active {
	color: #d92646;
	font-weight: 300;
}

.font-12 {
	font-size: 13px;
}

table .font-12 th {
	font-size: 13px;
	/*color: #d92646;*/
	color: #ffffff;
	font-weight: 400;
	/*border: none;*/
	/*border-top: solid 5px #c9302c;*/
}

/*.table .table-bordered .table-hover>thead>tr.font-12>th {*/
table.table tr.font-12 > th {
	/*padding-top: 20px;*/
	/*padding-bottom: 20px;*/
	/*border-top: solid 5px #E66561;*/
	padding: 20px 8px 20px 8px;
	/*vertical-align: bottom;*/
	/*background-color: #308ECB;*/
	background-color: #D9534F;
	border: none;
	/*border-bottom: solid 5px #dddddd;*/
}

.table>tbody> tr > td.action-buttons {
	/*width: 20px;*/
	padding: 8px 2px;
}

.table>tbody> tr > td {
	/*border-top: solid 5px #dddddd;*/
	/*border-top: solid 5px #f5f5f5;*/
	border-top: solid 5px #dddddd;
}

.table>tbody> tr > td .glyphicon {
	color: #ffffff;
	background-color: #D9534F;
	/*border: solid 1px #D43F3A;*/

	/*color: #666666;*/
	/*background-color: #F1F1F1;*/
	/*border: solid 1px #dddddd;*/

	border-radius: 3px;
	padding: 5px;
}

label.control-label{
	font-weight: 400;
}

label.radio-inline, .checkbox label{
	font-weight: 300;
}

.responsive-image {
	background-image: url('../img/responsive.png');
	height: 14em;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 50%;
}

.paypal-image {
	background-image: url('../img/paypal_options.png');
	height: 9em;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 50%;
}

.padding-left-right {
	padding-left: 5%;
	padding-right: 5%;
}