/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	/*background-color: #F9F9F9;*/
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 36px;
	height: 36px;
	background-color: #EB635E;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}

.scroll-top-icon {
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	line-height: 20px;
	display: block;
	padding: 6px 8px 10px 8px;

}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

a img {
	border: none;
}

#container,
#header,
#sidebar,
#content,
#footer,
#container
{
	/*display: block;*/
}

body {
	padding: 0;
	margin: 0;
}

.container-fluid {
	padding: 0px;
	margin: 0px;
	/*background-color: #eea236;*/
}

.row {
	margin: 0;
}

#header {
	/*background-color: #F00;*/
	/*width: 100%;*/
	height: 520px;
	background-image: url('../img/header_backgroud.jpg');
	/*background-size:100% 100%;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	/*border-bottom: solid 1px #000;*/
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,1);
	box-shadow: 0 0 5px 0 rgba(0,0,0,1);
	z-index: 100;
}

#header2 {
	/*background-color: #F00;*/
	width: 100%;
	height: 80px;
	/*background-image: url('../img/header_backgroud.jpg');*/
	/*background-size:100% 100%;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-position: 50% 50%;*/
	/*border-bottom: solid 1px #000;*/
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

#content {
	/*background-color: #eea236;*/
	min-height: 100px;
}

#sidebar {
	background-color: #eeeeee;
	min-height: 100px;
}

#footer {
	background-color: #eeeeee;
	background-image: url('../img/happy_footer.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	padding: 10px;
	/*-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);*/
	/*box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);*/
	/*position: absolute;*/
	/*bottom: 0%;*/
	height: 300px;
	border-top: solid 1px #cccccc;
}

#infos {
	height: 100px;
	background-color: #eeeeee;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

#search-box {
	border: solid 1px #222;
	/*height: 80px;*/
	margin-top: 6em;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	/*-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.8);*/
	box-shadow: 0 0 3px 0 rgba(0,0,0,1);

	/*-webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.8);*/
	/*box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.8);*/

	/*opacity: 0.8;*/
	 /*margin-left: auto;*/
	 /*margin-right: auto;*/
}

@media (min-width: 768px) {
	.text-big {
		font-size: 2.4em;
	}
}

@media screen and (max-width: 767px) {
	.text-big {
		font-size: 2em;
	}
}



.main-nav {
	height: 80px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;

	background-color: #25383B;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	/*background-color: rgba(37,56,59,0.95);*/

	/*background-color: white;*/
	/*background-image: url("../img/gradient.png");*/
	/*border-bottom: solid 1px #333;*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0% 100%;*/
	/*-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,1);*/
	/*box-shadow: 0 0 5px 0 rgba(0,0,0,1);*/
	/*border-top: solid 1px #C24C4C;*/
}

.main-nav li a, .main-nav li a:visited {
	text-decoration: none;
	color: #eeeeee;
}

.main-nav li a:hover, .main-nav li a:active {
	text-decoration: none;
	color: #E37C78;
	border-bottom: dotted 1px #E37C78;
}

.main-nav2 {
	height: 80px;
	margin-left: -15px;
	margin-right: -15px;
	/*background-color: rgba(0,0,0,0.7);*/
	background-color: #25383B;
	/*border-bottom: solid 1px #000;*/

	/*background-image: url('../img/backgroud_top.gif');*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0% 100%;*/
}

.mynavbar {
	list-style: none;
	color: #eeeeee;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	float: right;
	clear: both;
	display: inline-block;
	margin: 8px 0px 0px 0px;
	padding: 0;
}

.mynavbar ul {
	/*margin: 20px 0px 0px 0px;*/
	/*padding: 0;*/
}

.mynavbar li {
	float: left;
	display: block;
	margin-left: 20px;
}

.mynavbar2 {
	list-style: none;
	color: #eeeeee;
	font-family: 'Roboto', sans-serif;
	font-size: 1.15em;
	font-style: normal;
	font-weight: 300;
	/*float: left;*/
	/*clear: both;*/
	/*display: inline-block;*/
	padding: 18px 0px 0px 0px;
	margin-left: 20px;
	/*height: 60px;*/
}

.mynavbar2 li {
	float: left;
	display: block;
	margin-left: 20px;
}

.mynavbar3 {
	list-style: none;
	color: #cccccc;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	font-style: normal;
	font-weight: 300;
	/*float: left;*/
	/*clear: both;*/
	/*display: inline-block;*/
	/*padding: 40px 0px 0px 0px;*/
	/*margin-right: 274px;*/
	/*margin-top: -65px;*/
	/*clear: both;*/
	/*height: 60px;*/
	margin: 0;
	padding: 0;
	/*margin-left: 20px;*/

}

.mynavbar3 li {
	float: left;
	display: block;
	padding: 2px 3px;
}

.mynavbar3 li p{
	margin: 0;
	padding: 0;
	margin-right: 10px;
	/*margin-left: 20px;*/
}

.mynavbar3 li span{
	color: #ffffff;
	font-weight: 300;
	/*margin-left: 20px;*/
}

.mynavbar3 li a, .mynavbar3 li a:visited {
	text-decoration: none;
	color: #cccccc;
}

.mynavbar3 li a:hover, .mynavbar3 li a:active {
	text-decoration: none;
	color: #E37C78;
	border-bottom: dotted 1px #E37C78;
}

.login-register {
	/*color: #000000;*/
	color: #ffffff;
	font-weight: 400;
	/*text-shadow: 0 1px 0 #F7A2A1;*/
	padding:  3px 8px 3px 8px;
	background-color: #D9534F;
	/*background-color: #D95342;*/
	border-radius: 5px;
	font-size: 14px;
	border: solid 1px #F26F6D;
	/*border-bottom: solid 1px #E76563;*/
	/*background-image: url('../img/backgroun-btn1.png');*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0px 0px;*/
}

.location-input {
	width: 250px;
	/*display: inline-block;*/
	/*opacity: 1;*/
	/*padding: 0px 40px;*/
}


/* Text controlls */

.text-big {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: 100;
	text-align: center;
	/*text-shadow: 0 1px 1px #BDBDBD;*/
}

.text-big2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 25px;
	text-align: left;
	/*text-align: center;*/
	/*color: #000000;*/
	font-style: normal;
	/*margin-top: 1em;*/
	/*margin-bottom: 0em;*/
	/*text-shadow: 0 1px 1px #BDBDBD;*/
	margin: 0;
	padding: 16px 16px;
}

.text-big3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 40px;
	text-align: left;
	font-style: normal;
	margin: 0;
	padding: 36px 16px;
}

.text-regular {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 22px;
}

ol {
	/*-webkit-column-count: 2; *//* Chrome, Safari, Opera */
	/*-moz-column-count: 2; *//* Firefox */
	/*column-count: 2;*/
}

.text-regular strong{
	/*font-family: 'Roboto', sans-serif;*/
	font-style: normal;
	/*font-weight: 400;*/
	font-size: 14px;
	color: #333;
}

.text-regular li {
	padding-bottom: 7px;
}

.text-footer {
	font-family: 'Roboto', sans-serif;
	/*color: #eeeeee;*/
	font-weight: 300;
	text-align: center;
}

#picker_icon1, #picker_icon2 {
	position: absolute;
	padding-top: 47px;
	padding-left: 8px;
	pointer-events: none;
	width: 20px;
	display: inline-block;
	font-size: 16px;
	color: #555;
}

.my-text-shadow {
	text-shadow: 1px 1px 1px #878787;
}

.my-text-shadow2 {
	text-shadow: 0px 1px 0px #ccc;
}

#refine_search {
	cursor: pointer;
}

.list-sorter {
	height: 18px;
	width: 16px;
	float: right !important;
	background: url('../img/sort.png') no-repeat;
	opacity: 0.6;
}


.menu-left-active {
	color: #d92646;
	font-weight: 300;
}

.font-12 {
	font-size: 13px;
}


table.table {
	/*border-left: 1px solid #E4E4E4;*/
	/*border-right: 1px solid #E4E4E4;*/
	margin-top: 36px;
	margin-bottom: 36px;
	border-collapse: separate;

	/*padding: 10px 0px 0px 0px;*/
	/*border-radius: 100px;*/
}

tbody {
	padding: 100px;
}

.table-header {
	background-color: #D9534F;
	/*background-color: #EB635E;*/
	color: #fff;
	border-top: 1px solid #ca4433;
	border-left: 1px solid #ca4433;
	border-right: 1px solid #ca4433;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

table.table tbody tr.font-12 th {
	font-size: 13px;
	color: #ffffff;
	font-weight: 400;
	/*background-color: #EB635E;*/
	background-color: #D9534F;
	/*border: solid 1px #CA4433;*/

	border-left: solid 1px #CA4433;
	/*border-left: solid 1px #EB635E;*/

	border-top: solid 1px #CA4433;
	/*border-top: solid 1px #EB635E;*/

	border-bottom: solid 1px #AD2A26;
	/*border-bottom: solid 1px #EB635E;*/

	padding: 6px 6px 6px 6px ;
}

table.table tbody tr.font-12 th:last-child {
	border-right: solid 1px #CA4433;
	padding-right: 18px;
}

table.table tbody tr.font-12 th:first-child {
	padding-left: 18px;
}

table.table tbody tr td:last-child {
	padding-right: 18px;
	border-right: solid 1px #dddddd;
}

table.table tbody tr td:first-child {
	padding-left: 18px;
	border-left: solid 1px #dddddd;
}

.table>tbody> tr > td {
	background-color: #ffffff;
	font-family: Tahoma, Geneva, Arial, sans-serif;
	font-size: 13px;
	color: #666;
	padding: 6px;
}

.table>tbody> tr > td.action-buttons {
	padding: 8px 4px 8px 0px;
}

.table>tbody> tr > td .glyphicon {
	color: #ffffff;
	background-color: #F57873;
	border-radius: 2px;
	padding: 4px;
}





.table>tbody+tbody {
	border: none;
}

table tfoot.table-footer {
	background-color: #F5F5F5;
}

table tfoot.table-footer td, table tfoot.table-footer tr {
	background-color: #F5F5F5;

	border: 1px solid #E4E4E4;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

	/*border-radius: 100px;*/

}

.table-footer-text {
	font-size: 14px;
	padding: 14px 16px;
	display: block;
	margin: 0;
}

ul.pagination li {
	margin-left: 0px;
	display: inline-block;
}

.pagination {
	margin: 10px 0;
}

label.control-label {
	font-weight: 400;
}

label.radio-inline, .checkbox label {
	font-weight: 300;
}


label.radio-inline {
	padding: 10px 20px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-left-right {
	padding-left: 0px;
	padding-right: 0px;
}

.padding-left-right {
	padding-left: 5%;
	padding-right: 5%;
}

.responsive-image {
	background-image: url('../img/responsive.png');
	height: 14em;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 50%;
}

.paypal-image {
	background-image: url('../img/paypal_options.png');
	height: 9em;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 50%;
}

table input[type=checkbox] {
	width: 15px;
	height: 15px;
	/*border: 1px solid #1e5180;*/
	outline: none;
	background-color: red;
	color: red;
}

.form-wrapper-box {
	margin-top: 36px;
	border: solid 1px #dddddd;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12);
	border-radius: 5px;
	padding: 0px;
}




.leftmenu {
	font-size: 14px;
	margin-top: 35px;
	padding-top: 0px;
	padding-bottom: 20px;
	background-color: #25383B;
	border-radius: 4px;
	margin-right: 10px;
	/*-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);*/
	/*box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);*/

	/*border-bottom: none;*/
	/*border: solid 1px #E6E6E6;*/
}

.leftmenu ul{
	padding-left: 25px;
	padding-right: 25px;
}

.leftmenu li{
	background-image: url("../img/backgroud_link.gif");
	/*background-image: url("../img/arrow_menu3.gif");*/
	background-repeat: repeat-x;
	/*background-position: 95% 50%;*/
	background-position: 0% 100%;
}

.leftmenu li:last-child {
	background-image: none;
}

.leftmenu li a, .leftmenu li a:visited {
	background-image: url("../img/arrow_menu2.gif");
	/*background-image: url("../img/arrow_menu3.gif");*/
	background-repeat: no-repeat;
	/*background-position: 95% 50%;*/
	background-position: 0% 50%;
	/*color: #A7B1C2;*/
	color: #ABB8BA;
	display: block;
	/*padding: 4px 0px 4px 0px;*/
	padding: 10px 0px 10px 30px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}

.leftmenu li a:hover, .leftmenu li a:active {
	color: #d92646;
	text-decoration: none;
	/*border-bottom: solid 1px #E2E3E3;*/
}

.leftmenu h2 {
	color: #ffffff;
	font-weight: 100;
	font-size: 25px;
	padding: 25px 0px 10px 25px;
}
