/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

a img {
	border: none;
}

#container,
#header,
#sidebar,
#content,
#footer,
#container
{
	/*display: block;*/
}

body {
	padding: 0;
	margin: 0;
}

.container-fluid {
	padding: 0px;
	margin: 0px;
	/*background-color: #eea236;*/
}

.row {
	margin: 0;
}

#header {
	/*background-color: #F00;*/
	width: 100%;
	height: 450px;
	background-image: url('../img/header_backgroud.jpg');
	/*background-size:100% 100%;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	/*border-bottom: solid 1px #000;*/
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,1);
	box-shadow: 0 0 5px 0 rgba(0,0,0,1);
}

#header2 {
	/*background-color: #F00;*/
	width: 100%;
	height: 80px;
	/*background-image: url('../img/header_backgroud.jpg');*/
	/*background-size:100% 100%;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-position: 50% 50%;*/
	/*border-bottom: solid 1px #000;*/
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,1);
	box-shadow: 0 0 5px 0 rgba(0,0,0,1);
}

#content {
	/*background-color: #eea236;*/
	min-height: 100px;
}

#sidebar {
	background-color: #eeeeee;
	min-height: 100px;
}

#footer {
	background-color: #eeeeee;
	background-image: url('../img/happy_footer.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	padding: 10px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	/*position: absolute;*/
	/*bottom: 0%;*/
	height: 300px;
}

#infos {
	height: 100px;
	background-color: #eeeeee;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

#search-box {
	background-color: #000000;
	border: solid 1px #333;
	/*height: 80px;*/
	margin-top: 4em;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.4);
	padding-top: 5px;
	padding-bottom: 10px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,1);
	box-shadow: 0 0 3px 0 rgba(0,0,0,1);

	/*opacity: 0.8;*/
	 /*margin-left: auto;*/
	 /*margin-right: auto;*/
}

@media (min-width: 768px) {
	.text-big {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 767px) {
	.text-big {
		font-size: 2em;
	}
}

.main-nav {
	height: 40px; margin-left: -15px;
	margin-right: -15px;
	/*background-color: rgba(0,0,0,0.7);*/
	/*border-bottom: solid 1px #000;*/

	/*background-image: url('../img/backgroud_top.gif');*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0% 100%;*/
}

.main-nav2 {
	height: 80px;
	margin-left: -15px;
	margin-right: -15px;
	background-color: rgba(0,0,0,0.7);
	border-bottom: solid 1px #000;

	/*background-image: url('../img/backgroud_top.gif');*/
	/*background-repeat: repeat-x;*/
	/*background-position: 0% 100%;*/
}

.mynavbar {
	list-style: none;
	color: #eeeeee;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	float: right;
	clear: both;
	display: inline-block;
	margin: 8px 0px 0px 0px;
	padding: 0;
}

.mynavbar ul {
	/*margin: 20px 0px 0px 0px;*/
	/*padding: 0;*/
}

.mynavbar li {
	float: left;
	display: block;
	margin-left: 20px;
}

.location-input {
	width: 250px;
	/*display: inline-block;*/
	/*opacity: 1;*/
	/*padding: 0px 40px;*/
}


/* Text controlls */

.text-big {
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffffff;
	font-weight: 300;
	text-align: center;
	/*text-shadow: 0 1px 1px #BDBDBD;*/
}

.text-footer {
	font-family: 'Source Sans Pro', sans-serif;
	/*color: #eeeeee;*/
	font-weight: 300;
	text-align: center;
}

td.separator {
	font-size: 20px;
	font-weight: bold;
}

#picker_icon1, #picker_icon2 {
	position: absolute;
	padding: 8px 0px 8px 8px;
	pointer-events: none;
}

.my-text-shadow {
	text-shadow: 1px 1px 1px #878787;
}

#refine_search {
	cursor: pointer;
}