/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
strong,
b {
  font-weight: 400;
}
label {
  font-weight: 300;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical;
}
a img {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  font-style: normal;
}
.scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  background-color: #EB635E;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-image: url("../img/scroll_up.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.scroll-top-icon {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  display: block;
  padding: 6px 8px 10px 8px;
}
@media (min-width: 1367px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20, .col-xl-21, .col-xl-22, .col-xl-23, .col-xl-24 {
    float: left;
  }
  .col-xl-24 {
    width: 100%;
  }
  .col-xl-23 {
    width: 95.83333333%;
  }
  .col-xl-22 {
    width: 91.66666667%;
  }
  .col-xl-21 {
    width: 87.5%;
  }
  .col-xl-20 {
    width: 83.33333333%;
  }
  .col-xl-19 {
    width: 79.16666667%;
  }
  .col-xl-18 {
    width: 75%;
  }
  .col-xl-17 {
    width: 70.83333333%;
  }
  .col-xl-16 {
    width: 66.66666667%;
  }
  .col-xl-15 {
    width: 62.5%;
  }
  .col-xl-14 {
    width: 58.33333333%;
  }
  .col-xl-13 {
    width: 54.16666667%;
  }
  .col-xl-12 {
    width: 50%;
  }
  .col-xl-11 {
    width: 45.83333333%;
  }
  .col-xl-10 {
    width: 41.66666667%;
  }
  .col-xl-9 {
    width: 37.5%;
  }
  .col-xl-8 {
    width: 33.33333333%;
  }
  .col-xl-7 {
    width: 29.16666667%;
  }
  .col-xl-6 {
    width: 25%;
  }
  .col-xl-5 {
    width: 20.83333333%;
  }
  .col-xl-4 {
    width: 16.66666667%;
  }
  .col-xl-3 {
    width: 12.5%;
  }
  .col-xl-2 {
    width: 8.33333333%;
  }
  .col-xl-1 {
    width: 4.16666667%;
  }
  .col-xl-pull-24 {
    right: 100%;
  }
  .col-xl-pull-23 {
    right: 95.83333333%;
  }
  .col-xl-pull-22 {
    right: 91.66666667%;
  }
  .col-xl-pull-21 {
    right: 87.5%;
  }
  .col-xl-pull-20 {
    right: 83.33333333%;
  }
  .col-xl-pull-19 {
    right: 79.16666667%;
  }
  .col-xl-pull-18 {
    right: 75%;
  }
  .col-xl-pull-17 {
    right: 70.83333333%;
  }
  .col-xl-pull-16 {
    right: 66.66666667%;
  }
  .col-xl-pull-15 {
    right: 62.5%;
  }
  .col-xl-pull-14 {
    right: 58.33333333%;
  }
  .col-xl-pull-13 {
    right: 54.16666667%;
  }
  .col-xl-pull-12 {
    right: 50%;
  }
  .col-xl-pull-11 {
    right: 45.83333333%;
  }
  .col-xl-pull-10 {
    right: 41.66666667%;
  }
  .col-xl-pull-9 {
    right: 37.5%;
  }
  .col-xl-pull-8 {
    right: 33.33333333%;
  }
  .col-xl-pull-7 {
    right: 29.16666667%;
  }
  .col-xl-pull-6 {
    right: 25%;
  }
  .col-xl-pull-5 {
    right: 20.83333333%;
  }
  .col-xl-pull-4 {
    right: 16.66666667%;
  }
  .col-xl-pull-3 {
    right: 12.5%;
  }
  .col-xl-pull-2 {
    right: 8.33333333%;
  }
  .col-xl-pull-1 {
    right: 4.16666667%;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-push-24 {
    left: 100%;
  }
  .col-xl-push-23 {
    left: 95.83333333%;
  }
  .col-xl-push-22 {
    left: 91.66666667%;
  }
  .col-xl-push-21 {
    left: 87.5%;
  }
  .col-xl-push-20 {
    left: 83.33333333%;
  }
  .col-xl-push-19 {
    left: 79.16666667%;
  }
  .col-xl-push-18 {
    left: 75%;
  }
  .col-xl-push-17 {
    left: 70.83333333%;
  }
  .col-xl-push-16 {
    left: 66.66666667%;
  }
  .col-xl-push-15 {
    left: 62.5%;
  }
  .col-xl-push-14 {
    left: 58.33333333%;
  }
  .col-xl-push-13 {
    left: 54.16666667%;
  }
  .col-xl-push-12 {
    left: 50%;
  }
  .col-xl-push-11 {
    left: 45.83333333%;
  }
  .col-xl-push-10 {
    left: 41.66666667%;
  }
  .col-xl-push-9 {
    left: 37.5%;
  }
  .col-xl-push-8 {
    left: 33.33333333%;
  }
  .col-xl-push-7 {
    left: 29.16666667%;
  }
  .col-xl-push-6 {
    left: 25%;
  }
  .col-xl-push-5 {
    left: 20.83333333%;
  }
  .col-xl-push-4 {
    left: 16.66666667%;
  }
  .col-xl-push-3 {
    left: 12.5%;
  }
  .col-xl-push-2 {
    left: 8.33333333%;
  }
  .col-xl-push-1 {
    left: 4.16666667%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-offset-24 {
    margin-left: 100%;
  }
  .col-xl-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-xl-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-xl-offset-21 {
    margin-left: 87.5%;
  }
  .col-xl-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-xl-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-xl-offset-18 {
    margin-left: 75%;
  }
  .col-xl-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-xl-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-xl-offset-15 {
    margin-left: 62.5%;
  }
  .col-xl-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-xl-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-xl-offset-12 {
    margin-left: 50%;
  }
  .col-xl-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-xl-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-xl-offset-9 {
    margin-left: 37.5%;
  }
  .col-xl-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-xl-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-xl-offset-6 {
    margin-left: 25%;
  }
  .col-xl-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-xl-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-xl-offset-3 {
    margin-left: 12.5%;
  }
  .col-xl-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-xl-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
}
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20, .col-xl-21, .col-xl-22, .col-xl-23, .col-xl-24 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
/*
321 - 480
@screen-ss: 321px;
ss - small small
*/
body {
  font-size: 10px;
}
.padding-left-right {
  padding-left: 10px;
  padding-right: 10px;
}
#search-box {
  margin-top: 2em;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px #333333;
  border-radius: 3px;
  padding: 10px 10px;
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  color: #cccccc;
}
#search-box #submit button {
  width: 100%;
}
#search-box .row-divider {
  border-top: dotted 1px #777;
  padding: 10px 0px;
  margin: 0;
}
#search-box ::-webkit-input-placeholder {
  font-size: 1em;
}
#search-box :-moz-placeholder {
  /* Firefox 18- */
  font-size: 1em;
}
#search-box ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1em;
}
#search-box :-ms-input-placeholder {
  font-size: 1em;
}
#search-box .driver-rider-wrapper {
  float: left;
  margin-left: 0px;
}
#search-box .driver-rider-wrapper span {
  margin-right: 2%;
  float: left;
  width: 31.93333333%;
}
#search-box .driver-rider-wrapper span:last-child {
  margin-right: 0;
}
#search-box .driver-rider-wrapper label {
  width: 100%;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 500;
  float: left;
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  color: #cccccc;
  background-color: #F7F5F5;
  color: #000000;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 3px 10px;
  margin: 0px;
}
#search-box .driver-rider-wrapper input {
  z-index: 10;
  margin-left: -14px;
  display: block;
  opacity: 0;
  float: left;
  cursor: pointer;
}
#search-box .smoking-wrapper {
  float: left;
  margin-left: 0px;
}
#search-box .smoking-wrapper span {
  margin-right: 2%;
  float: left;
  width: 31.93333333%;
}
#search-box .smoking-wrapper span:last-child {
  margin-right: 0;
}
#search-box .smoking-wrapper label {
  width: 100%;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 500;
  float: left;
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  color: #cccccc;
  background-color: #F7F5F5;
  color: #000000;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 3px 10px;
  margin: 0px;
}
#search-box .smoking-wrapper input {
  z-index: 10;
  margin-left: -14px;
  display: block;
  opacity: 0;
  float: left;
  cursor: pointer;
}
#search-box .smoking-wrapper label {
  padding: 3px 0;
}
#search-box #main-search-options {
  margin: 10px 0px;
}
#search-box #main-search-options div {
  float: left;
  margin-bottom: 10px;
}
#search-box #main-search-options .col-full {
  width: 100%;
}
#search-box #main-search-options .col-half {
  width: 48%;
}
#search-box #main-search-options .col-half:nth-child(even) {
  float: right;
}
#search-box #main-search-options .refine-search {
  cursor: pointer;
  float: right;
  background-image: url('../img/select_down_up.gif');
  background-repeat: no-repeat;
  background-position: 95% -150%;
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  color: #cccccc;
  color: white;
}
#search-box #additional-search-options {
  display: none;
  margin-top: 10px;
}
#search-box #additional-search-options .weekdays-wrapper span {
  display: inline-block;
  margin-right: 1px;
  width: 13.28571429%;
}
#search-box #additional-search-options .weekdays-wrapper span label {
  position: relative;
  top: 0;
  left: 0px;
  z-index: 500;
  float: left;
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  color: #cccccc;
  background-color: #F7F5F5;
  color: #000000;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding: 3px 10px;
  min-width: 20px;
  margin: 0px;
}
#search-box #additional-search-options .weekdays-wrapper span input {
  margin: 0px;
  z-index: 10;
  margin-left: -14px;
  display: block;
  opacity: 0;
  float: left;
  cursor: pointer;
}
#search-box .search-box-label {
  float: left;
  margin: 3px 0px;
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  color: #cccccc;
}
.button-text {
  color: #cccccc;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
.button-hover {
  background-color: #d9534f;
  color: white;
  text-decoration: none;
}
.main-nav-wrapper {
  text-align: center;
  background-color: #25383b;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
ul.main-navbar {
  float: left;
  padding-bottom: 3px;
}
ul.main-navbar li {
  margin-top: 3px;
  float: left;
  background-color: #152022;
  border-radius: 1px;
  color: #cccccc;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
ul.main-navbar li a,
ul.main-navbar li a:visited {
  display: block;
  padding: 6px 6px;
  color: #cccccc;
  border-radius: 1px;
}
ul.main-navbar li a:hover,
ul.main-navbar li a:active {
  background-color: #d9534f;
  color: white;
  text-decoration: none;
}
.welcome {
  float: right;
}
.welcome ul {
  float: right;
}
.welcome li {
  float: right;
  background-color: #152022;
  border-radius: 1px;
  color: #cccccc;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
.welcome li:first-child {
  float: right;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #25383b;
}
.welcome li:first-child p {
  float: right;
  margin-bottom: 10px;
}
.welcome li a,
.welcome li a:visited {
  display: block;
  padding: 6px 6px;
  color: #cccccc;
  text-decoration: none;
  border-radius: 1px;
}
.welcome li a:hover,
.welcome li a:active {
  background-color: #d9534f;
  color: white;
  text-decoration: none;
}
.logo-image {
  outline: 0;
  border: none;
  width: 112px;
  height: 52px;
  background-image: url('../img/logo_mobile.png');
  background-repeat: no-repeat;
  background-position: 0px 8px;
}
#menu-button {
  float: right;
  margin-top: 15px;
  width: 27px;
  height: 21px;
  display: inline-block;
  cursor: pointer;
  background-image: url('../img/menu.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.flag-image-selected {
  background-repeat: no-repeat;
  background-position: 0px 5px;
  margin-left: auto;
  margin-right: auto;
  width: 52px;
}
.flag-name-selected {
  background-image: url("../img/select_down.gif");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 12px;
  padding-left: 21px;
}
li#languageSwitcherAll {
  margin-top: 3px;
  padding: 10px;
  border-radius: 2px;
}
li#languageSwitcherAll ul {
  padding: 10px 0px;
  display: block;
  width: 100%;
  background-color: white;
  border-radius: 2px;
}
li#languageSwitcherAll ul li {
  float: right;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
li#languageSwitcherAll ul li a,
li#languageSwitcherAll ul li a:visited {
  float: left;
  display: block;
  width: 100%;
  padding: 5px 3px 5px 38px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 14px center;
  border-radius: 0px;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  text-align: left;
  font-weight: 300;
}
li#languageSwitcherAll ul li a:hover,
li#languageSwitcherAll ul li a:active {
  background-color: #F5F5F5;
}
/*
 The code under generates all language classes
*/
.gb {
  background-image: url('../img/flags/gb.png');
}
.es {
  background-image: url('../img/flags/es.png');
}
.am {
  background-image: url('../img/flags/am.png');
}
.br {
  background-image: url('../img/flags/br.png');
}
.id {
  background-image: url('../img/flags/id.png');
}
.slogan-big {
  font-size: 2.5em;
  margin: 0.8em 0 0.8em 0;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
  font-style: normal;
  text-shadow: 1px 1px 1px #878787;
}
.slogan-small {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
  font-style: normal;
  text-shadow: 1px 1px 1px #878787;
}
@media (max-width: 320px) {
  .promotion {
    border-bottom: solid 1px #e6e6e6;
  }
}
@media (min-width: 321px) {
  /*
 @screen-ss: 321px   ss - small small   321 - 481
*/
  .promotion {
    border-bottom: solid 1px #e6e6e6;
  }
}
@media (min-width: 481px) {
  /*
 @screen-xs: 481px   xs - extra small   481 - 767
*/
}
@media (min-width: 768px) {
  /*
 @screen-sm: 768px; 		sm - small			768 - 991
*/
  body {
    font-size: 1.2em;
  }
  ul.main-navbar {
    margin-top: -6px;
    color: #cccccc;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
  }
  ul.main-navbar li {
    font-size: 14px;
    margin: 0;
    float: left;
    width: auto;
    background-color: #25383b;
  }
  ul.main-navbar li a,
  ul.main-navbar li a:visited {
    padding: 4px 6px;
  }
  .welcome ul {
    margin-top: 16px;
  }
  .welcome li {
    font-size: 14px;
    width: auto;
    margin: 0;
    background-color: #25383b;
  }
  .welcome li:first-child {
    width: 100%;
  }
  .welcome li a,
  .welcome li a:visited {
    padding: 4px 6px;
  }
  li#languageSwitcherAll {
    margin-top: 3px;
    position: absolute;
    right: 0px;
    top: 58.8px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 1px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  }
  li#languageSwitcherAll ul {
    margin: 0;
  }
  li#languageSwitcherAll ul li a,
  li#languageSwitcherAll ul li a:visited {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  /*
 @screen-md: 992px;    md - medium    992 - 1199
*/
  ul.main-navbar {
    margin-top: 12px;
    margin-left: 10px;
  }
  ul.main-navbar li {
    border-radius: 1px;
  }
  ul.main-navbar li a,
  ul.main-navbar li a:visited {
    padding: 4px 6px;
    border-radius: 1px;
  }
  .welcome ul {
    margin-top: 12px;
  }
  .welcome li {
    border-radius: 1px;
    width: auto;
    margin: 0;
    background-color: #25383b;
  }
  .welcome li:first-child {
    width: auto;
  }
  .welcome li:first-child p {
    margin-bottom: 0px;
    padding: 4px 6px;
  }
  .welcome li a,
  .welcome li a:visited {
    border-radius: 1px;
    margin: 0;
  }
  li#languageSwitcherAll {
    top: 38.2px;
  }
}
@media (min-width: 1200px) {
  /*
 @screen-xs: 481px   xs - extra small   481  - 767
*/
  body {
    font-size: 1.4em;
  }
  .padding-left-right {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1367px) {
  /*
 @screen-xs: 481px   xs - extra small   481  - 767
*/
  body {
    font-size: 1.6em;
  }
  ul.main-navbar {
    margin-top: 25px;
    margin-left: 20px;
    padding-bottom: 0px;
  }
  ul.main-navbar li {
    border-radius: 0;
    font-size: 16px;
  }
  ul.main-navbar li a,
  ul.main-navbar li a:visited {
    border-radius: 0;
    padding: 6px 6px;
    border-bottom: solid 2px #25383b;
  }
  ul.main-navbar li a:hover,
  ul.main-navbar li a:active {
    border-bottom: solid 2px #D43F3A;
    background-color: #25383b;
  }
  .welcome {
    width: 25%;
  }
  .welcome ul {
    margin-top: 0;
  }
  .welcome li {
    border-radius: 0;
    font-size: 16px;
  }
  .welcome li:first-child {
    font-size: 14px;
    width: 100%;
  }
  .welcome li:first-child p {
    color: #cccccc;
    padding-top: 2px;
    padding-bottom: 3px;
    margin: 0px;
  }
  .welcome li a,
  .welcome li a:visited {
    border-radius: 0;
    border-bottom: solid 2px #25383b;
    padding: 6px 6px;
  }
  .welcome li a:hover,
  .welcome li a:active {
    border-bottom: solid 2px #D43F3A;
    background-color: #25383b;
  }
  .logo-image {
    width: 138px;
    height: 53px;
    background-image: url('../img/logo_desktop.png');
    background-repeat: no-repeat;
    background-position: 0px 8px;
  }
  li#languageSwitcherAll {
    top: 59.2px;
    padding: 1px;
  }
  li#languageSwitcherAll ul {
    background-color: white;
    border-radius: 2px;
  }
  li#languageSwitcherAll ul li a,
  li#languageSwitcherAll ul li a:visited {
    border: none;
    border-radius: 0px;
    font-size: 16px;
  }
}
