// Global variables
// this variables are available on all less files, plus here are only the variables that
// are also constant and not changing depending on screen size
//
// Global and constant must be here also all other css rules. if the rule is going to be
// changed then it must not be here.

@global-grid-columns: 24;

@screen-ss: 321px; 		// ss - small small		321  - 480
@screen-xs: 481px; 		// xs - extra small		481  - 767
@screen-sm: 768px; 		// sm - small			768  - 991
@screen-md: 992px; 		// md - medium			992  - 1199
@screen-lg: 1200px; 	// lg - large			1200 - 1367
@screen-xl: 1367px; 	// xl - extra large 	>= 1367

@grid-gutter-width: 0px; // padding between grid columns

@image-directory: "../img/";


@global-background-gray: #F7F5F5;
@global-border-dick: solid 10px darken(@global-background-gray, 5%);

@global-border-radius: 2px;
@global-input-border-color: #cccccc;
@global-input-border: 1px solid @global-input-border-color;

@global-button-red: #DE353D;
@global-button-red-hover: darken(@global-button-red, 10%);

@global-text-red: darken(@global-button-red, 10%);

@global-button-warning: orange;
@global-button-warning-hover: darken(@global-button-warning, 5%);

@global-star-color: darken(orange, 4%);

@global-nav-bgr: #25383B;
@global-border-gray: #dddddd;

@import "fontello";

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.
// Customize the background color to match your design.

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html.placeholder label.label-hide {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	padding: 0;
	margin: 0;
}

section, article, aside, footer, header, nav, hgroup {
	display:block;
}

strong, b {
  font-weight: 400;
}

label {
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}


// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

a img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-style: normal;
}

.btn {
	border-radius: @global-border-radius;
	font-weight: 300;
}

.btn-danger {
	background-color: @global-button-red;
	border: 1px solid darken(@global-button-red, 5%);
	border-bottom: 1px solid darken(@global-button-red, 10%);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
	background-color: darken(@global-button-red, 8%);
	border: 1px solid darken(@global-button-red, 14%);
	border-bottom: 1px solid darken(@global-button-red, 16%);
}

.form-control {
	border-radius: @global-border-radius;
	border: @global-input-border;
	font-size: @global-font-size;

	//	height: floor((@global-font-size*1.1) + (2*@ss-elem-padding-vertical) + 4); // 1.1 is line height
	height: auto;
	padding: @ss-elem-padding-vertical 12px;

	-webkit-box-shadow: inset 0 1px 1px rgba( red(darken(@global-input-border-color, 100%)), green(darken(@global-input-border-color, 100%)), blue(darken(@global-input-border-color, 100%)), 0.075 );
	box-shadow: inset 0 1px 1px rgba( red(darken(@global-input-border-color, 100%)), green(darken(@global-input-border-color, 100%)), blue(darken(@global-input-border-color, 100%)), 0.075 );
}

.background-gray {
	background-color: @global-background-gray;
}

.dropdown-menu {
	min-width: 130px;
}

#content {
	min-height: 100px;
}

.h1-form {
	font-size: 36px;
	line-height: 1;
	margin: 0;
	color: #000000;
}

.alert {
	margin-top: 10px;
	margin-bottom: 10px;
}

.icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

////////// less for creating xl (extra large >= 1367px) class rules ///////////

@media (min-width: @screen-xl) {
  .make-grid(xl);
}

// Create grid for specific class (xl)
.make-grid(@class) {
  .float-grid-columns(@class);
  .loop-grid-columns(@global-grid-columns, @class, width);
  .loop-grid-columns(@global-grid-columns, @class, pull);
  .loop-grid-columns(@global-grid-columns, @class, push);
  .loop-grid-columns(@global-grid-columns, @class, offset);
}

.float-grid-columns(@class) {

  .col(@index) when (@index = 1) { // initial
	@item: ~".col-@{class}-@{index}"; // .col-sm-1
	.col((@index + 1), @item);
  }

  .col(@index, @list) when (@index =< @global-grid-columns) { // general
	@item: ".col-@{class}-@{index}";
	.col((@index + 1), ~"@{list}, @{item}"); // change name to .col-sm-1, .col-sm-2
  }

  // first 2 loops are making comma separated list of column names: .col-sm-1, .col-sm-2
  // this one makes the final class
  .col(@index, @list) when (@index > @global-grid-columns) { // terminal
	@{list} {
	  float: left;
	}
  }

  .col(1); // kickstart it (call it)
}


// Basic looping in LESS
.loop-grid-columns(@index, @class, @type) when (@index >= 0) {
  .calc-grid-column(@index, @class, @type);
  // next iteration
  .loop-grid-columns((@index - 1), @class, @type);
}

.calc-grid-column(@index, @class, @type) when (@type = width) and (@index > 0) {
  .col-@{class}-@{index} {
	width: percentage((@index / @global-grid-columns));
  }
}
.calc-grid-column(@index, @class, @type) when (@type = push) and (@index > 0) {
  .col-@{class}-push-@{index} {
	left: percentage((@index / @global-grid-columns));
  }
}
.calc-grid-column(@index, @class, @type) when (@type = push) and (@index = 0) {
  .col-@{class}-push-0 {
	left: auto;
  }
}
.calc-grid-column(@index, @class, @type) when (@type = pull) and (@index > 0) {
  .col-@{class}-pull-@{index} {
	right: percentage((@index / @global-grid-columns));
  }
}
.calc-grid-column(@index, @class, @type) when (@type = pull) and (@index = 0) {
  .col-@{class}-pull-0 {
	right: auto;
  }
}
.calc-grid-column(@index, @class, @type) when (@type = offset) {
  .col-@{class}-offset-@{index} {
	margin-left: percentage((@index / @global-grid-columns));
  }
}

// Columns
//
// Common styles for extra large grid columns
.make-grid-columns();

.make-grid-columns() {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) when (@index = 1) { // initial
	@item: ~".col-xl-@{index}";
	.col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @global-grid-columns) { // general; "=<" isn't a typo
	@item: ~".col-xl-@{index}";
	.col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @global-grid-columns) { // terminal
	@{list} {
	  position: relative;
	  // Prevent columns from collapsing when empty
	  min-height: 1px;
	  // Inner gutter via padding
	  padding-left:  (@grid-gutter-width / 2);
	  padding-right: (@grid-gutter-width / 2);
	}
  }
  .col(1); // kickstart it
}