@import "common";
@import "common/com_1_com";

.my-viewport {
	width: @screen-ss;
}

////////// ss 321-480 //////////
@media (min-width: @screen-ss) {
	@import "common/com_2_ss";
	.my-viewport {
		width: @screen-ss;
	}
}

////////// xs 481-767 //////////
@media (min-width: @screen-xs) {
	@import "common/com_3_xs";
	.my-viewport {
		width: @screen-xs;
	}
}

////////// sm 768-991 //////////
@media (min-width: @screen-sm) {
	@import "common/com_4_sm";
	.my-viewport {
		width: @screen-sm;
	}
}

////////// md 992-1199 //////////
@media (min-width: @screen-md) {
	@import "common/com_5_md";
	.my-viewport {
		width: @screen-md;
	}
}

////////// lg 1200 - 1366 //////////
@media (min-width: @screen-lg) {
	@import "common/com_6_lg";
	.my-viewport {
		width: @screen-lg;
	}
}

////////// xl 1367 //////////
@media (min-width: @screen-xl) {
	@import "common/com_7_xl";
	.my-viewport {
		width: @screen-xl;
	}
}