@import "common";
@import "common/1_ss";

.my-viewport {
	width: @screen-ss;
}

////////// ss 0-480
@media (min-width: @screen-ss) {

}

////////// xs 481-767
@media (min-width: @screen-xs) {
	@import "common/2_xs";
	.my-viewport {
		width: @screen-xs;
	}
}

////////// sm 768-991
@media (min-width: @screen-sm) {
	@import "common/3_sm";
	.my-viewport {
		width: @screen-sm;
	}
}

////////// md 992-1199
@media (min-width: @screen-md) {
	@import "common/4_md";
	.my-viewport {
		width: @screen-md;
	}
}

////////// lg 1200 - 1366
@media (min-width: @screen-lg) {
	@import "common/5_lg";
	.my-viewport {
		width: @screen-lg;
	}
}

////////// xl 1367
@media (min-width: @screen-xl) {
	@import "common/6_xl";
	.my-viewport {
		width: @screen-xl;
	}
}